#### Modeling parameters

##### Basic stuff
* The celestial bodies (i.e., the Sun, Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, and Neptune)
* Initial positions relative to the Sun (e.g., from a reference date)
* Linear Velocities
* Angular Velocities
* Radiuses

<br/>

| **Celestial Body** | **Distance**   | **Lin. Vel.** | **Ang. Vel.** | **Radius**  |
| ------------------ | -------------- | ------------- | ------------- | ----------- |
| **Units**          | **AU**         | **km/s**      | **rad/s**     | **km**      |
| The Sun            | 0.00           | 0.00          | 0             | 696340      |
| Mercury            | 0.38           | 48.90         | 8.264E-07     | 2440        |
| Venus              | 0.73           | 34.82         | 3.232E-07     | 6052        |
| Earth              | 1.00           | 30.13         | 1.992E-07     | 6371        |
| Mars               | 1.57           | 23.48         | 1.059E-07     | 3390        |
| Jupiter            | 5.07           | 13.41         | 1.673E-08     | 69911       |
| Saturn             | 9.64           | 9.54          | 9.294E-09     | 58232       |
| Uranus             | 19.56          | 6.67          | 2.370E-09     | 25362       |
| Neptune            | 29.90          | 5.46          | 1.208E-09     | 24622       |

In [2]:
import pandas as pd

pd.read_csv("./solar_data.csv")

,Celestial Body,Distance (AU),Ang. Vel. (rad/s),Radius (AU),Lin. Vel. (AU/s)
0,The Sun,0.00,0.000000e+00,0.004655,0.000000e+00
1,Mercury,0.38,8.264000e-07,0.000016,3.268763e-07
2,Venus,0.73,3.232000e-07,0.000040,2.327573e-07
3,Earth,1.00,1.992000e-07,0.000043,2.014066e-07
4,Mars,1.57,1.059000e-07,0.000023,1.569541e-07
5,Jupiter,5.07,1.673000e-08,0.000467,8.964031e-08
6,Saturn,9.64,9.294000e-09,0.000389,6.377096e-08
7,Uranus,19.56,2.370000e-09,0.000170,4.458620e-08
8,Neptune,29.90,1.208000e-09,0.000165,3.649785e-08

#### Representation

* Each celestial body is represented as a sphere, $(x - x_i)^2 + (y - y_i)^2 + (z - z_i)^2 = R_i^2$, where $(x_i, y_i, z_i)$ and $R_i$ the position and the radius of the $i$-th planet, respectively.
* Let's siimplify the position of the planet using $p_i$, where $p_i = (x_i, y_i, z_i)$. This position is not static but changes as the time passes. Thus, position should be expressed as a function of time:
$$
    p_i(t) = (x_i(t),\:y_i(t),\:z_i(t))
$$
* Let $d_i$ be the distance between the sun and the $i-$th planet (in AU).
* Let $p_{sun}(t) = (0,\:0,\:0)$, then $p_i(t) = d_i \cdot (sin(t), cos(t), 0) \Rightarrow p_i(t) = (d_i sin(t), d_i cos(t), 0)$